*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("/src/assets/pokmon-1675954877378-5264.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.ally{
    width: 30vw;
    height: 30vh;
}

.contenders{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

button{
    grid-area: 2 / 1;   
    justify-self: center;
}

.App{
    display: grid;
    justify-items: center;
}

.PokemonZ{
    margin-bottom: 0;
    display: flex;
    /* position: fixed; */
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
    width: 90vw;
    bottom: 0;
}