*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Groupe de carte */
.Liste__Pokemons{
    display: grid;
    width: 90%;
    max-width: 1500px;
    list-style: none;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px 10px;
    justify-items: center;
}

.Liste__Pokemons__Card{
  background-image: linear-gradient(to top, #00bbd4c6, rgba(205, 218, 188, 0.160));
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 255, 170, 0.113);
}

.Liste__Pokemons__Card:hover{
    filter: drop-shadow(1px 1px 1px rgb(37, 255, 80));
    transform: scale(1.13);
    cursor: help;
}

/* Haut de carte  */
.HeadCard, .Numero{
    text-align: center;
    color: #123E72;
    font-size: 18px;
}

.HeadCard{
    font-size: 1rem;
    font-weight: 600;
    font-family: cursive;
}

.image{
    width: 100%;
}