h1{
    width: fit-content;
    margin: auto;
    font-size: 64px;
    padding: 10px;
}

form{
    display: inline-flex;
    width: 100%;
    justify-content: center;
}

.input{
    background-color: #123E72;
    border: 2px solid #F0F0F0 ;
}

.button{
    background-color: #123E72;
    border: none;
    border-radius: 2px;
}